/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #201526;
    color: white;
    font-family: 'Eczar';
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}
  
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

